.title,
.text {
  letter-spacing: -0.03em;
  color: var(--mantine-color-gray-2);
}

.title {
  font-size: 115px;
  font-weight: 800;
  padding-bottom: 30px;

  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 80px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 65px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 40px;
  }
}

.text {
  font-size: 25px;
  font-weight: 400;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 20px;
    padding: 0 20px 0 20px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 15px;
    padding: 0 10px 0 10px;
  }
}

.textContainer {
  align-items: center;
  gap: 20px;

  @media (max-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    align-items: flex-start;
  }
}
