.title,
.text {
  letter-spacing: -0.03em;
  color: var(--mantine-color-gray-2);
}

.title {
  font-size: 115px;
  font-weight: 800;
  padding-bottom: 30px;

  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 80px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 60px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 30px;
  }
}

.text {
  font-size: 20px;
  font-weight: 400;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 12px;
    padding: 0 20px 0 20px;
  }
}
