.title {
  color: var(--mantine-color-gray-2);
  font-size: 115px;
  font-weight: 800;
  padding-bottom: 30px;

  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 80px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 45px;
  }
}

.links {
  color: var(--mantine-color-gray-2);
  height: 60px;
  &:hover {
    color: #fcca46;
  }
  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 35px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 20px;
  }
}
